# dependencies
node_modules/

# production / builds
dist/
build/
.cache/

# environment variables
.env
.env.local
.env.development
.env.production
.env*.local

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# logs and system files
*.log
.DS_Store
Thumbs.db
